body{
  font-family: Consolas, Arial, Helvetica, sans-serif;
  background-image: url("images/fondo2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background-position: center;
  background-size: cover;
}

#main{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  justify-content: center;
}

header{
  background-color: rgba(75, 80, 97, 0.7);
  padding: 15px;
  border-radius: 25px;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
}

header img{
  max-width: 50%;
  filter: drop-shadow(15px 15px 10px rgb(29,29,29));
}

header section{
  display: block;
  text-align: left;
  color: white;
  font-weight: bold;
  text-shadow: 10px 10px 5px rgb(29, 29, 29);
  background-color: rgba(0,0,0,0);
  max-width: 50%;
}

#title{
  font-size: 82px;
}

#subtitle{
  font-size: 50px;
}

#nav-bar{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#nav-bar a{
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: rgb(73, 20, 20);
  padding: 15px 20px;
  font-size: 30px;
  border: 2px solid white;
  border-radius: 25px;
  margin: 5px;
}

#nav-bar a:hover{
  background-color: rgb(224, 224, 224);
  color: rgb(0, 0, 0);
  cursor: pointer;
  box-shadow: 10px 10px 10px rgb(31, 31, 31);
  border: 1px solid rgb(22, 22, 22);
}

button{
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgb(73, 20, 20);
  color: white;
  font-family: Consolas, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
}

button:hover{
  background-color: rgb(224, 224, 224);
  color: rgb(0, 0, 0);
  border: 1px solid black;
  cursor: pointer;
}

#img-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(224, 224, 224, 0.8);
  padding: 20px;
  border-radius: 25px;
  border: 2px solid white;
}

#image{
  border-radius: 25px;
  box-shadow: 10px 10px 10px gray;
  align-self: center;
  max-width: 100%;
}

#img-caption{
  font-size: 21px;
  line-height: 30px;
  text-align: center;
}

div,footer{
  display: flex;
  flex-direction: column;
  background-color: rgba(224, 224, 224, 0.6);
  border-radius: 25px;
  padding: 25px;
  border: 2px solid white;
}

div h2{
  font-size: 30px;
  font-weight: bold;
  box-shadow: 10px 10px 10px rgba(54, 54, 54,0.8);
  color: white;
  background-color: rgb(73, 20, 20);
  padding: 15px 20px;
  width: fit-content;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 42px;
}

ul{
  list-style-type: none;
}

#tribute-info strong, #quotes-video h3{
  background-color: rgb(99, 98, 98);
  color: white;
  border-radius: 10px;
  font-size: 28px;
  padding: 3px 5px;
  border: 1px solid black;
  width: fit-content;
  text-align: center;
}

li, #quotes-video section{
  display: block;
  text-align: justify;
  font-size: 23px;
  line-height: 33px;
  background-color: rgba(241, 241, 241, 0.8);
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.5);
  padding: 10px;
  margin: 15px;
}

li:hover, #quotes-video section:hover{
  background-color: rgba(255,255,255);
  box-shadow: 10px 10px 10px rgb(75, 75, 75);
}

#tribute-info a{
  text-decoration: none;
  color: rgb(73, 20, 20);
}

#quotes-video h3{
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px 20px;
}

#quotes-video q{
  font-size: 25px;
  text-align: center;
  line-height: 36px;
  padding: 15px;
}

#quotes-video iframe{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

#more-info li{
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

#more-info a{
  text-decoration: none;
  color: rgb(73, 20, 20);
  font-weight: bold;
}

p{
  text-align: center;
  font-size: 24px;
}

footer{
  padding-top: 5px;
  padding-bottom: 5px;
}


/*Media Queries*/
@media (max-width: 550px){
  #nav-bar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #nav-bar a{
    font-size: 24px;
  }

  button{
    font-size: 16px;
  }

  header{
    display: block;
  }

  header img{
    margin: 0 auto;
    max-width: 100%;
  }

  header section{
    text-align: center;
    max-width: 100%;
  }

  #title{
    font-size: 56px;
  }

  #subtitle{
    font-size: 28px;
  }

  li, #quotes-video section, #quotes-video q{
    font-size: 20px;
  }
}